
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilização da barra de rolagem para navegadores WebKit (Chrome, Safari, Opera) */

/* Barras verticais */
::-webkit-scrollbar {
    width: 8px; /* largura da barra de rolagem */
    background-color: #1a1a1a; /* cor de fundo */
}

/* Alça (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #757575; /* cor da alça */
    border-radius: 10px; /* borda arredondada */
}

/* Alça ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* cor da alça ao passar o mouse */
}

/* Trilha (track) da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #333; /* cor da trilha */
}

/* Trilha ao passar o mouse */
::-webkit-scrollbar-track:hover {
    background-color: #444; /* cor da trilha ao passar o mouse */
}

/* Cantos da trilha */
::-webkit-scrollbar-corner {
    background-color: transparent; /* cor dos cantos */
}

/* Estilização da barra de rolagem para navegadores Firefox */
/* Nota: o Firefox tem limitações na personalização da barra de rolagem com CSS */

/* Barras verticais */
/* Nota: os estilos para Firefox variam e podem não ser completamente personalizáveis */
html {
    scrollbar-color: #757575 #1a1a1a; /* cor da alça e fundo da barra de rolagem */
    scrollbar-width: thin; /* largura da barra de rolagem */
}

/* Alça (thumb) da barra de rolagem */
/* A personalização da alça pode ser limitada no Firefox */
/* Por exemplo: não é possível definir borda-arredondada diretamente */

/* Trilha (track) da barra de rolagem */
/* A personalização da trilha pode ser limitada no Firefox */

/* Cantos da trilha */
/* A personalização dos cantos pode ser limitada no Firefox */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

html {
    scroll-behavior: smooth
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura total da viewport */
}

    /*Nav bar*/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    z-index: 1000; /* Mantém a barra de navegação acima de outros elementos */
    font-family: "Nunito", sans-serif;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0)); /* Ajuste as cores e a opacidade conforme necessário */
}

ul {
    padding: 0;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    border-right: solid 2px white;
    padding: 0 15px 0 ;
    transition: border-color 0.3s ease;
}

.linha {
    position: relative;
    text-decoration: none;

}

.linha::after {
    content: '';
    position: absolute;
    background-color: #d7d7d7;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.linha:hover::after {
    background-color: #f7f6f6;
}




#logo {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: border-color 0.3s ease;
    padding: 0 15px 0 ;
    position: relative;
}

#logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}
#logo:hover::before {
    border-color: #f7f6f6;
}


.container {
    position: absolute; /* Use fixed para garantir que cubra a viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 100% da altura da viewport */
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse os limites */
    z-index: -1; /* Garante que o contêiner fique atrás da barra de navegação */
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Certifique-se de que o gradiente fique acima da imagem */
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem enquanto cobre a área */
    border-bottom: solid 4px white;
}

#container_gradient_back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0)); /* Ajuste as cores e a opacidade conforme necessário */
    z-index: 1; /* Certifique-se de que o gradiente fique acima da imagem */
}

    /*Text home*/

#container_text {
    display: block;
    width: 80%; /* largura do container */
    width: 1200px; /* largura máxima do container */
    height: 500px;
    margin: 0 auto; /* centraliza o container horizontalmente */
    padding: 20px;
    background-color: #ffffff01;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: solid 4px white;
}

.style_text_vsd {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    font-size: 3em; color: #fffdd9;
}

.text_home_ttl {
    color: transparent;
    font-family: "Kanit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    font-weight: bolder;
    height: 80px;
    padding: 20px 0 0 0;
}

#text_home_ttl_2 {
    border-bottom: solid 3px white;
    width: 580px;
    padding: 0px 0px;
}

#text_home_h2 {
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    transform: scaleX(1.3);
    display: inline-block;
    padding: 25px 0px 0px 35px;
}

#text_home_p {
    color: white;
    font-family: "kanit", sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: justify;
    width: 575px;
}


    /* Aboult section*/

#container_aboult {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 600px;
}

.container_text_aboult {
    display: flex;
    justify-content: space-around; /* Espaçamento uniforme entre itens */
    align-items: center; /* Alinhamento vertical */
    width: 350px;
    height: 350px;
    background-color: #0C0C0C;
    margin: 100px 60px;
    box-shadow: 20px 30px 4px rgb(47, 47, 47);
    display: block;
    transition: width 0.3s ease, height 0.3s ease; /* Transição para o tamanho do contêiner */
    border-bottom: solid 2px #ccc;
    border-right: solid 2px #ccc;
}

.ctn_text {
    color: transparent;
    font-family: "Kanit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
    justify-content: center;
    text-align: left;
    margin: 46px 46px 15px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d7d7d7;
    font-size: 1.5em;
    display: inline-block; /* Necessário para que a transformação funcione corretamente */
    transform: scaleX(1.2); /* Aumenta a largura em 20% */
}

.prg_text {
    color: white;
    font-family: "Kanit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    text-align: justify;
    margin: 20px 26px;
    border-bottom: solid 2px #ccc;
}

.container_text_aboult:hover {
    width: 400px; /* Novo tamanho do contêiner quando hover */
    height: 400px; /* Novo tamanho do contêiner quando hover */
    color: #0C0C0C;
    background-color: #d7d7d7;
}

.container_text_aboult:hover .prg_text {
    font-size: 20px; /* Novo tamanho da fonte quando hover */
    color: #0C0C0C;
    border-bottom: solid 2px #0C0C0C;
}

.container_text_aboult:hover .ctn_text {
    font-size: 25px; /* Novo tamanho da fonte quando hover */
    color: #0C0C0C;
}

.container_price {
    background-color: black;
    position: absolute; /* Use fixed para garantir que cubra a viewport */
    width: 100%;
    height: 100vh; /* 100% da altura da viewport */
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse os limites */
    z-index: 0;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    display: block;
}

.container_price::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1), rgba(0, 0, 0,1), rgba(0, 0, 0,1)); /* Ajuste as cores e a opacidade conforme necessário */
    z-index: 1; /* Certifique-se de que o gradiente fique acima da imagem */
}

#img_price {
    position: absolute; /* Use fixed para garantir que cubra a viewport */
    width: 100%;
    height: 100vh; /* 100% da altura da viewport */
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse os limites */
}

#img_price_solo {
    position: absolute;
    width: 60%;
    height: 100vh;
    object-fit: cover; /* Mantém a proporção da imagem enquanto cobre a área */
    border-bottom: solid 4px white;
}

#text_price {
    
    width: 80%; /* largura do container */
    width: 592px; /* largura máxima do container */
    height: 745px;
    margin: 0 60%; /* centraliza o container horizontalmente */
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: solid 4px white;
    border-top: solid 4px white;
    z-index: 1;
}

#text_price_h1_ttl {
    position: relative;
    color: transparent;
    font-family: "Kanit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 43px;
    font-weight: bolder;
    width: 548px;
    height: 270px;
    line-height: 1.1; /* altura da linha ajustada */
    margin: 30px 20px 0px;
    padding: 70px 80px 20px 0px;
    text-align: justify;
    
}

#epmt_h1_ttl {
    letter-spacing: 7px; /* Define o espaçamento entre letras */
}

#text_price_h1_ttl::before{
    content: "";
    position: absolute;
    top: 50px; /* Distância da borda superior */
    left: 0;
    right: 0;
    height: 10px;
    border-top: 3px solid rgb(255, 255, 255);
    z-index: 1;
}

#text_price_h1_ttl::after{
    content: "";
    position: absolute;
    top: 0;
    right: 40px; /* Distância da borda esquerda */
    bottom: 0;
    width: 10px;
    border-right: 3px solid rgb(255, 255, 255);
}

#text_price_p {
    position: absolute;
    color: white;
    margin: 0px 20px 20px;
    color: white;
    font-family: "kanit", sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: justify;
    width: 508px;
    height: 200px;
    border-right: solid 3px white;
    padding-right: 40px;
}

#button_price{
    background-color: #0C0C0C;
    position: absolute;
    border:  solid 3px white;
    width: 350px;
    height: 60px;
    margin: 270px 100px;
    font-size: 25px;
    font-weight: 900;
    animation: scale 2s ease-in-out infinite;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff;
transition: all 0.3s ease;
}

@keyframes scale {
    0%, 100% {
        width: 350px;
        height: 60px;
    }

    50% {
        margin: 260px 97px;
        width: 355px;
        height: 70px;
    }
}

#link_button_price{
    text-decoration: none;
}

a   {
    text-decoration: none; /* Remove a linha embaixo do link */
    color: white;
    text-shadow:
        0 0 3px #fff,
        0 0 4px #fff;
    transition: all 0.3s ease;
    animation: breathing 2s ease-in-out infinite;
}

#button_price:hover {
    background-color: #ccc;
    animation: breathing 1.5s ease-in-out infinite;
    color: #0C0C0C;
}

#button_price:hover a{
    color: #0C0C0C;
    transform: scale(1.1);
    text-shadow:
        0 0 10px #000,
        0 0 20px #000;
    transition: all 0.3s ease;
}

@keyframes breathing {
    0%, 100% {
        transform: scale(1);
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff;
    }
    50% {
        transform: scale(1.1);
        text-shadow:
            0 0 4px #fff,
            0 0 8px #fff;
    }
}


#contact {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 700px;
    border-top: none;
}

#container_contact  {
    display: flex;
    background-color: #0C0C0C;
    width: 50%;
    height: 700px;
    border: solid 2px white;
    border-bottom: none;
}

#form_contact {
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;

}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

#text_contact_ttl {
    display: flex;
    color: transparent;
    font-size: 50px;
    font-family: "kanit", sans-serif;
    border-bottom: solid 3px white;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px; /* Define o espaçamento entre letras */
}

#text_contact_p {
    color: white;
    margin-top: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 250;
}

.contact_input {
    position: relative;
    width: 100%;
    padding: 8px;
    font-size: 14px 14px;
    box-sizing: border-box;
    background-color: transparent;
    inline-size: none;
    border-bottom: solid 2px white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: white;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px 15px 10px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.input-label {
    position: absolute;
    top: 20px;
    left: 10px;
    color: white;
    font-family: "Kanit", sans-serif;
    transition: top 0.3s, font-size 0.3s;
    pointer-events: none;
}

.contact_input:focus {
    border-bottom-color: #333;
}

.contact_input:focus + .input-label {
    font-size: 12px;
    top: -4px;
}

.input-filled .input-label {
    top: -4px;
    font-size: 12px;
}

button[type="submit"] {
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    background-color: rgb(255, 255, 255, 0.1);
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px white;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: rgb(255, 255, 255, 0.2);
    font-size: 29px;
    transition: 0.3s;
}





.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 29px;
    height: 5px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

/* Media Queries para responsividade */

/* Tablets e dispositivos menores */
@media screen and (max-width: 768px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* altura total da viewport */
    }

    .navbar{
        width: 113%;
        padding: 20px 40px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: -100%;
        background-color: #333;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-links.active {
        left: 20px;
    }

    .nav-links li {
        text-align: center;
        margin: 15px 0;
    }

    .container {
        position: absolute;
        top: -5%;
        left: 0;
        width: 172%;
        height: 106vh;
        overflow: hidden;
        z-index: -1;
    }

    #container_text {
        width: 80%;
    }


    .menu-toggle {
        display: flex;
    }

    .menu-toggle.toggle .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.toggle .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.toggle .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Smartphones */
@media screen and (max-width: 480px) {
    .container{
    position: absolute;
    top: -10%;
    left: 0;
    width: 171%;
    height: 111vh;
    overflow: hidden;
    z-index: -1;
    }

    .header-content h1 {
        font-size: 2em;
    }

    .header-content p {
        font-size: 0.9em;
    }

    .section-title {
        font-size: 1.8em;
    }

    .section-content {
        font-size: 0.9em;
    }

    #text_home_p{
        width: 450px;
    }

    form input, form textarea {
        font-size: 0.9em;
    }

    form button {
        font-size: 0.9em;
        padding: 8px;
    }
}